/*---------------Colour---------------*/
:root {
  --color1: #57bc90;
  --color2: #018374;
  --color3: #015147;
  --colorbg: #F7F7F7;
}

.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited,
.btn-primary:focus{
    background-color: var(--color2);
    border-color: #8064A2;
    outline: 0;
}
.btn-primary:active:focus{
  background-color: var(--color3);
  outline: 0;
}

/*---------------Clearfix---------------*/
.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}

/*---------------Body---------------*/
body {
  font-family: 'Assistant';
  font-size: 16px;
}

/*---------------Student tabs---------------*/

.column1 nav ul {
  list-style-type: none;
  padding: 0;
  width: 200px;
  height: 700px;
}

/* .column1 nav ul li {
  border-bottom: 1px solid;
  border-color: #E0E0E0;;
  padding: 15px;
} */

.column1 nav ul li a {
  color: black;
}

.column1 nav ul li:hover {
  /* color: var(--color3); */
}
.nav-pills>li.active>a,
.nav-pills>li.active>a:focus,
.nav-pills>li.active>a:hover {
  color: var(--color1);
  background-color: white;
}
.nav-pills .active{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.05), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}

/*---------------Messages---------------*/

#messageButton {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 210px;
    height: 35px;
    padding: 5px;
    background-color: #F7F7F7;
    border-style: solid;
    border-width: 1px;
    border-color: #E0E0E0;
    border-radius: 0px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.05), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
    color: black;
    font-size: 16px;
    text-align: left;
}
.panel .panel-heading{
  background-color: var(--color1);
  color: white;
}
#messageButton:active:focus{
  outline: 0;
}
.panel-body{
  padding: 0px 0px;
}
.container .D{
  padding: 10px;
  background-color: #F7F7F7;
}
.container .S{
  padding: 10px;
}
.Messages p{
  color: var(--color2);
}
.message .container{
  width: 100%;
}
.message .panel-footer{
  background-color: #E0E0E0;
  width: 15%;
  position:fixed;
  bottom: 0;
  left: 0;
}
.message .panel{
  width: 15%;
  position:fixed;
  bottom: 0;
  left: 0;
}
.message .panel-footer{
  padding: 0;
}
.badge{
  /* background-color: var(--color3); */
}
/*---------------SpaceBar---------------*/
.spacebar{
  height: 60px;
}

/*---------------NavBar---------------*/
.navbar{
  background-color: var(--color1);
  top: 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.05), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}
.navbar-brand{
  font-family: 'cabin sketch';
  color: white;
  font-size: 38px;
  text-decoration: none;
  padding: 20px 15px;
  box-sizing: border-box;
}
.navbar-brand:active{
  color: white;
}
.navbar-brand:hover{
  color: var(--color2);
}
.navbar-btn{
  font-size: 20px;
  padding-right: 25px;
  /* background-color: pink; */
}
.navbar-btn .btn{
  padding: 0px 20px;
  color: white;
  background-color: transparent;
}
.navbar-btn .btn:hover{
  color: var(--color2);
}
.navbar-text{
  color: white;
  font-size: 12px;
  top: 0px;
}

/*---------------COLUMNS---------------*/

.column1,
.column2,
.column3 {
  height: 750px;
  padding: 20px 40px;
  overflow: auto;
  box-sizing: border-box;
}
.column1 {
   float: left;
   width: 15%;
   /* height: 100vh; */
   padding-left: 20px;
   /* background-color: #F7F7F7; */
   border-right-style: solid;
   border-width: 1px;
   border-color: #E0E0E0;
   background-color: var(--colorbg);
}
.column2 {
   float: left;
   width: 60%;
}
.column3 {
   float: right;
   width: 20%;
   border-left-style: solid;
   border-width: 1px;
   border-color: #E0E0E0;
   /* background-color: #F7F7F7; */
   padding: 10px;
   background-color: var(--colorbg);
}

/*---------------Comments---------------*/
.comment-section{
  padding: 10px 0px;
  height: 650px;
  /* background-color: pink; */
}
.post-description{
  width: 200px;
}
.comment{
  width: 150%;
  padding: 0px 5px;
}
.comment .h5{
  color: silver;
}
.comment .meta .h5 a{
  color: var(--color2);
}
.input-group{
  width: 105%;
  right: 10px;
}
.column3 .container{
  border-color: #E0E0E0;
  height: 660px;
  width: 350px;
}
.column3 .panel-footer{
  background-color: var(--colorbg);
}

/*---------------Text Edit---------------*/
.btn-primary{
  border-style: none;
  padding-left: 10px
}

/*---------------Version tabs---------------*/
.nav-tabs > li.active > a {
  /* color: pink; */

}
.nav-tabs > li > a {
  color: var(--color2);
}
