/*---------------Clearfix---------------*/
.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}

/*---------------Body---------------*/
body {
  font-family: Verdana, Geneva, sans-serif;
}

/*---------------Head---------------*/


/*---------------Student tabs---------------*/
.column1 nav {
  /* background-color: tomato; */
}

.column1 nav ul {
  list-style-type: none;
  padding: 0;
  width: 200px;
  height: 700px;
}

.column1 nav ul li {
  border-bottom: 1px solid MediumTurqoise;
  padding: 15px;
  /* border-style: solid; */
  /* border-color: black; */
}

.column1 nav ul li a {
  color: white;
  text-decoration: none;
}

.column1 nav ul li a:hover {
  color: #8069C3;
}

.column1 .active{
  background-color: #E0E0E0;
  /* color: #8069C3; */
}

/*---------------Messages---------------*/
div.Messages {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 300px;
    height: 23px;
    background-color: #F7F7F7;
    border-style: solid;
    border-width: 1px;
    border-color: #E0E0E0;
}

/*---------------SpaceBar---------------*/
.spacebar{
  height: 30px;
}

/*---------------NavBar---------------*/
.navbar{
  /* background-color: #333; */
  background-color: #32245B;
  height: 50px;
  /* position: sticky; */
  top: 0;
  /* clear: both; */
  /* *zoom: 1; */
}
.navbar,
.navbar-header,
.navbar-menu,{
  margin: 0 1.5% 24px 1.5%;
}
.navbar-header{
  float: left;
}
.navbar-menu{
  height: 30px;
  width: 400px;
  float: right;
}
.navbar-brand{
  color: white;
  font-size: 30px;
  text-decoration: none;
  padding: 10px;
  box-sizing: border-box;
}
.navbar-menu ul li a{
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.navbar-menu ul li a:hover{
  background-color: yellow;
}
.navbar-menu ul li{
  float: left;
}
.navbar-menu ul{
  /* this is the one thats the wrong size */
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: visible;
  /* width: 100px; */
  height: 30px;
  background-color: #333;
}
/*---------------COLUMNS---------------*/

.column1,
.column2,
.column3 {
  color: #8069C3;
  height: 775px;
  padding: 20px 40px;
  overflow: auto;
  box-sizing: border-box;
}
.column1 {
   float: left;
   width: 15%;
   padding-left: 20px;
   background-color: #B2A4DB;
   border-right-style: solid;
   border-width: 1px;
   border-color: #E0E0E0;
   /* border-color: white; */
}
.column2 {
   float: left;
   width: 65%;
   /* background-color: #F7F7F7; */
}
.column3 {
   float: right;
   width: 20%;
   border-left-style: solid;
   border-width: 1px;
   border-color: #E0E0E0;
   background-color: #F7F7F7;
   padding: 10px;
}
/* Clear floats after the columns */
.row:after {
   content: "";
   display: table;
   clear: both;
}

/*---------------Comments---------------*/
.input-group{
  width: 258px;
  /* position:absolute; */
  bottom: 5px;
}

/*---------------Text Edit---------------*/
/* buttons */
.container .pagination .active{
  background-color: #32245B;
}

.btn-primary{
  background-color: #B2A4DB;
  border-style: none;
  padding-left: 10px
}
